<section class="hero is-with-image is-fullheight is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <md-card class="column is-half is-offset-3">
          <md-card-title class="">Login</md-card-title>
          <md-card-content>
            <md-input-container style="width: 100%">
              <input md-input placeholder="Username" value="user">
              <md-hint align="end">ffhwkjh</md-hint>
            </md-input-container>
            <md-input-container style="width: 100%">
              <input md-input placeholder="Password" type="password" value="123456">
              <md-hint align="end">kjhkjh</md-hint>
            </md-input-container>
            <a class="button is-outlined is-large">Get started</a>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</section>