<section class="hero is-with-image is-fullheight is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="columns">
            <div class="column is-4 contain-centered">
              <img src="/assets/img/logo_ouracademy.png" />
            </div>
            <div class="column is-8">
              <md-card class="column">
                <md-card-title class="">
                </md-card-title>
                <md-card-content>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <md-input-container style="width: 100%">
                      <input md-input placeholder="Username" formControlName="username">
                      <md-hint *ngIf="formErrors.username" align="end">
                        <span>{{ formErrors.username  }}</span>
                      </md-hint>
                    </md-input-container>
                    <md-input-container style="width: 100%">
                      <input md-input placeholder="Password" type="password" formControlName="password">
                      <md-hint *ngIf="formErrors.password" align="end">
                        <span>{{ formErrors.password  }}</span>
                      </md-hint>
                    </md-input-container>
                    <button type="submit" class="button m-top is-dark is-large" [disabled]="!loginForm.valid" md-raised-button>Login</button>
                  </form>
                </md-card-content>

              </md-card>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
