
<h1>How much am I spending?</h1>
<div class="demo-progress-bar-container">
  <md-progress-bar [value]="totalCost()/availableForSpend*100"
                   [bufferValue]="100"
                   mode="buffer"
                   color="warn"
                   ></md-progress-bar>
</div>
<span>Spend: {{totalCost()/availableForSpend*100}} %</span>
<span>Money disponible for spend: {{availableForSpend}}</span>
<button md-raised-button (click)="spendMore(10)">+</button>
<button md-raised-button (click)="spendMore(-10)">-</button>

<div class="columns">
  <div class="column is-6">
    <md-card class="skin-1" >
      <md-card-title>Available products</md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let product of availableProducts" dnd-draggable [dragEnabled]="product.quantity>0" [dragData]="product"
            (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
            <div [hidden]="product.quantity===0">
              {{product.name}} - \${{product.cost}}
              <br>(available: {{product.quantity}})</div>
            <div [hidden]="product.quantity>0">
              <del>{{product.name}}</del>
              <br>(NOT available)</div>
          </md-list-item>
        </md-list>

      </md-card-content>
    </md-card>
  </div>
  <div class="column is-6">
    <md-card dnd-droppable (onDropSuccess)="addToBasket($event)" [dropZones]="['demo1']" class="skin-1">
      <md-card-title>Shopping Basket<br>(to pay: \${{totalCost()}})
      <md-slider [ngModel]="totalCost()" min="1" [max]="availableForSpend" thumbLabel disabled ></md-slider></md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let product of shoppingBasket" >
            {{product.name}}-(ordered: {{product.quantity}} - cost: \${{product.cost * product.quantity}})
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>