<h4>{{title}}</h4>
<span>My position:</span>
<span>{{myPosition.lat}}</span>
<span>{{myPosition.lng}}<span>
<button md-button (click)="addMarker()">Add Marker</button>
<div *ngIf="loadLocation">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  [mapDraggable]="'true'">
      <sebm-google-map-marker *ngFor="let location of locations" [latitude]="location.coords.lat" [longitude]="location.coords.lng" [label]="'M'" [markerDraggable]="location.draggable">
        <sebm-google-map-info-window [disableAutoPan]="true">
          {{location.title}}
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
</div>