.demo-sidenav-container{
    min-height: 600px;
}
.brand{
    display:inline;
    height:40px;
}
.brand img{
    height: 100%;
}
.md-sidenav-content{
   
}
.custom-sidenav-content{
    overflow:hidden;
}

