<md-sidenav-container class="demo-sidenav-container">
  <md-sidenav #start mode="side">
    <md-nav-list>
      <a md-list-item *ngFor="let link of links" (click)="goTo(link)">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>{{ link.name }}</span>
        <span md-line class="demo-secondary-text">  </span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <div class="custom-sidenav-content ">
    <md-toolbar>
      <button md-icon-button (click)="start.toggle()">
                <md-icon  class="demo-toolbar-icon">menu</md-icon>
        </button>
      <div class="brand">
        <img src="assets/img/{{logoName}}" alt="Logo">
      </div>
      <span class="fill-remaining "></span>
      <button md-icon-button>
                <md-icon  class="demo-toolbar-icon">mail</md-icon>
        </button>
      <button md-icon-button> <md-icon class="demo-toolbar-icon">notifications_none</md-icon>
        </button>
      <button md-icon-button [mdMenuTriggerFor]="menu" aria-hasPopup="true">
              <md-icon>account_circle</md-icon>
        </button>
      <md-menu #menu="mdMenu" y-position="below" role="menu">
        <button md-menu-item role="menuitem">  
              <md-icon> dialpad </md-icon><span> Redial </span>
            </button>
        <button md-menu-item role="menuitem"> 
                <md-icon> dialpad </md-icon><span> Settings </span> 
            </button>
        <button md-menu-item role="menuitem">
                <md-icon> dialpad </md-icon><span> Sign Out </span>
            </button>
      </md-menu>
    </md-toolbar>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>